body,
html {
  height: 100%;
  margin: 0;
  background: radial-gradient(circle, #faf0fa, #8993be);
}

h1 {
  font-family: "Poppins";
  font-size: 2rem;
  margin-left: 2%;
}

.cv {
  margin-left: 4%;
  margin-bottom: 10%;
}

h4 {
  font-family: "Poppins";
  font-size: 1rem;
  margin-left: 2%;
}

.forside h1 {
  font-family: "Poppins";
  font-size: 2rem;
  display: flex;
  padding-top: 2%;
  align-items: center;
}

.forside img {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 20%;
}

h2 {
  font-family: "Poppins";
  font-size: 2rem;
  margin-left: 2%;
}
.ommig-billede img {
  width: 100%;
  border-radius: 20px;
}
.ommig-billede {
  padding: 50px 50px 0 50px;
}
footer {
  background-color: #8993be;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.kontakt-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.kontakt-boks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  padding: 30px 50px;
  line-height: 0;
}

.kontakt-info p {
  padding: 5px;
  font-family: "Poppins";
  font-style: italic;
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
}

.kontakt-info img {
  height: 16px;
  width: 16px;
}

p {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 350;
  margin-left: 2%;
}
/*img {
  height: 500px;
  width: 500px;
  padding-left: 20%;
  padding-top: 20%;
}*/
